USE [Pizza DB]
GO
/****** Object:  Table [dbo].[pizza_sales]    Script Date: 20/02/2026 23:36:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pizza_sales](
	[pizza_id] [int] NULL,
	[order_id] [int] NULL,
	[pizza_name_id] [varchar](50) NULL,
	[quantity] [int] NULL,
	[order_date] [date] NULL,
	[order_time] [time](0) NULL,
	[unit_price] [decimal](10, 2) NULL,
	[total_price] [decimal](10, 2) NULL,
	[pizza_size] [varchar](5) NULL,
	[pizza_category] [varchar](20) NULL,
	[pizza_ingredients] [varchar](max) NOT NULL,
	[pizza_name] [varchar](100) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
